{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Edit Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static 'sd/style.css' %}">
</head>

<script type="text/javascript">

function loadBar() {
    $("#header").load("../static/sd/header.html");
    $("#navbar").load("../static/sd/navbar.html");
}
</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class="row" id="search">
        <div class="navbar" id="navbar">
        </div>


    <div class="edit-form">
        {% block content %}
        <h3>Edit Account</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="SAVE" id="save-button" style="float: right;">
            <a href="../account">
                <button id="save-button"> CANCEL </button>
            </a>

        </form>
        {% endblock content %}
    </div>




</body>

</html>