{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Squawk | Login</title>
	<meta charset="UTF-8">
	<meta name="description" content="Homepage">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static 'sd/style.css' %}">
    <link rel="icon" href="{% static '../../static/sd/icons/favicon.png' %}">
</head>

<body>

	<div class="header">
    <a href="../">
  	    <img class="logo" src="{% static 'sd\icons\logo.png' %}" alt="Logo" height = "50em">
        <h2>SQUAWK</h2>
    </a>

	</div>

    <div class = "login-form">
        <h3>Welcome Back</h3> <br>
        <!-- if nvalid_login is true, put a red header or something to say so -->


        <form method = "POST" action="{% url 'login' %}">
            {% csrf_token %}
            Username<br>
            <input name="username" hint="Username" {% if username %} value="{{username}}" {% else %} placeholder="Username"{% endif %} style="padding-left: 0.5em"><br>
            <br>Password<br>
            <input name="password" hint="Password" type="password" placeholder="Password" style="padding-left: 0.5em"><br>
            {% if errors %}
            <div id="error-message">
                {{errors}}
            </div>
            {% endif %}
            <input type="submit" value="LOGIN" id="login-button">
        </form>
        <p>New user? Register <a id="signuplink" href="{% url 'register' %}">here</a></p>
    </div>

		

</body>
</html>
