{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
	<title>Squawk</title>
	<meta charset="UTF-8">
	<meta name="description" content="Feed">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
	<link rel="icon" href="{% static '../../static/sd/icons/favicon.png' %}">
	<script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
	var explore = false;

	function loadBar() {
		$("#navbar").load("static/sd/navbar.html");
		$("#header").load("static/sd/header.html");
	}

	function feed() {
		document.getElementById("feed-items").innerHTML = `{% for post in results.feed %}
            <div class="feeditem">
				<!-- if I am the author, make this div -->
				{% if post.author == current_user.uuid %}
				{% with 'dropdown-content-'|add:post.uuid as options_id %}
				<div class="dropdown">
					<button class="dropdown-button" onclick="showDropdown('{{ options_id }}')">Options...<span class="caret"></span></button>
					<div id='{{ options_id }}' class="dropdown-content">
						<a href="edit_post/{{post.uuid}}">Edit</a>
						<a href="" onclick="confirmDelete('{{post.uuid}}')">Delete</a>
					</div>
				</div>
				{% endwith %}
				{% endif %}

				<div id = "author"> {{post.author}} </div>
                <div id = "date"> {{post.published}} <br> <br> </div>
                <div id = "title">{{post.title}} <br> <br> </div>
                {% if post.link_to_image %}
                <a href="{{post.link_to_image}}">
                	<img class="feedimage" src="{{post.link_to_image}}" alt="Link to Image">
                </a>
				{% endif %}
                <div id = "postBody">{{post.content | safe}} <br> <br> <br> </div>
                <a>
                	<span id = "commentsifyesButton" onclick ="displayCommentsCheck('{{post.uuid}}')"> Comments <br><br> </span>
          		</a>

                <div id = "{{post.uuid}}">
                	{% for comment in comments %}
						{% if comment.post == post.uuid %}
							<div class = "commentitem">
								<div id = "commentauthor"> Author: {{comment.author}} </div>
								<div id = "commentdate"> Published: {{comment.published}} <br> <br> </div>
								<div id = "commentbody"> {{ comment.comment }} <br> </div>
							</div>
						{% endif %}
					{% endfor %}

					{% if authenticated %}
						<form method="POST"> 
							{% csrf_token %} 
							<input name="user" id="userId" value={{current_user.uuid}} type="hidden">
							<input name="post" id="postId" value={{post.uuid}} type="hidden">
							<input name="comment" type="text" id = "addcommentfield" placeholder="Add a comment..."/>
							<input type="submit" value="SUBMIT" id="submit-blue-button"/> <br>
						</form>
						<br>
					{% endif %}
				</div>


            </div>
			{% endfor %}
			</div>`

	}


</script>

<body onload="loadBar(); feed();">

	<div class="header" id="header">

	</div>

	<div class="row">
		{% if authenticated %}
		<div class="navbar" id="navbar">

		</div>
		{% endif %}



		<div class="feed" {% if not authenticated %} id="nosidebar" {% endif %}>
			{% if messages %}
			<div class="feeditem">
				{{ messages }}
			</div>
			{% endif %}
			<div id="feed-items">
			</div>
			<div class="navigate-feed">
				{% if results.next %}
				<a href="?page={{results.next}}">
					<span class="button" id="blue-button"> NEXT </span>
				</a>
				{% endif %}
				{% if results.previous %}
				<a href="?page={{results.previous}}">
				<span class="button" id="blue-button"> PREVIOUS </span>
				</a>
				{% endif %}
			</div>

		</div>
	</div>
</body>

</html>