{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <link rel="icon" href="{% static '../../static/sd/icons/favicon.png' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">

    function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
        $("#header").load("static/sd/header.html");
    }

    function loadRequests() {
        var follows = {{follows|safe}};
        var friends = {{friends|safe}};
        var results = makeItAList("{{requests}}");

        displayResults(results, friends, follows);
    }

    function displayResults(results, friends, follows) {
        console.log(results);
        console.log(friends);
        console.log(follows);
        for (let f of friends) {
            console.log(f['name']);
        }


        var notificationNum = results.length.toString();
        var friendNum = friends.length.toString();
        var followingNum = follows.length.toString();

        if (notificationNum === '1'){
            var notificationString = " You have 1 friend request";
        } else {
            var notificationString = 'You have ' + notificationNum + ' friend requests';
        }

        if (friendNum === '1'){
            var friendString = " You have 1 friend";
        } else {
            var friendString = 'You have ' + friendNum + ' friends';
        }

        if (followingNum === '1'){
            var followingString = " You are following 1 user";
        } else {
            var followingString = 'You are following ' + followingNum + ' users';
        }


        var display = document.getElementById("friend-requests");
        display.innerHTML = "";

        display.innerHTML += `<br> 
            <span class='arrow-right' id='notification-right-arrow' onclick='displayNotifications("notification-block","notification-right-arrow","notification-down-arrow")' style = 'display: inline-block'> </span>
            <span class='arrow-down' id='notification-down-arrow' onclick='displayNotifications("notification-block","notification-down-arrow","notification-right-arrow")' style = 'display: none'> </span>`
            + notificationString + '<span id="notification-block" style = "display: none;">';
        for (let a of results) {
            var btn_id = createButtonId(a);
            display.innerHTML += `
            <hr class="greyline">
            <span class="searchauthor">${a}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Follows You </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> Local </span>
            <button class="addminusbutton" id="${btn_id}" onclick="sendRequest('${a}')"">+</button>`;
        }
        display.innerHTML += '</span>'

        var displayFriends = document.getElementById("friends");
        displayFriends.innerHTML = ` 
            <span class='arrow-right' id='friend-right-arrow' onclick='displayNotifications("friend-block","friend-right-arrow","friend-down-arrow")' style = 'display: inline-block'> </span>
            <span class='arrow-down' id='friend-down-arrow' onclick='displayNotifications("friend-block","friend-down-arrow","friend-right-arrow")' style = 'display: none'> </span>`
            + friendString + '<span id="friend-block" style = "display: none;">';
        for (let f of friends) {
            var fName = f['name'];
            var fId = f['following_uuid'];
            var btn_id = createButtonId(fName);
            displayFriends.innerHTML += `<div>
            <hr class="greyline">
            <span class="searchauthor">${fName}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Friends </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> Local </span>
            <button class="addminusbutton" id="${btn_id}" onclick="removeFriend(${fId}')"">-</button></div>`;
        }
        displayFriends.innerHTML += '</span>'

        var displayFollowers = document.getElementById("following");
        displayFollowers.innerHTML = `<br> 
            <span class='arrow-right' id='following-right-arrow' onclick='displayNotifications("following-block","following-right-arrow","following-down-arrow")' style = 'display: inline-block'> </span>
            <span class='arrow-down' id='following-down-arrow' onclick='displayNotifications("following-block","following-down-arrow","following-right-arrow")' style = 'display: none'> </span> `
            + followingString + '<span id="following-block" style = "display: none;">';
        for (let f of follows) {
            var fName = f['following'];
            var fId = f['following_uuid'];
            var btn_id = createButtonId(fName);
            displayFollowers.innerHTML += `<div>
            <hr class="greyline">
            <span class="searchauthor">${fName}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Following </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> Local </span>
            <button class="addminusbutton" id="${btn_id}" onclick="removeFriend('${fId}')"">-</button></div>`;
        }
        displayFollowers.innerHTML += '</span>'

    }

    function loadTheThings() {
        loadBar();
        loadRequests();
    }

</script>

<body onload="loadTheThings()">
    <div class="header" id="header">
    </div>

    <div class="row" id="notifications">
        <div class="navbar" id="navbar"></div>
        <div style="margin-top: 7em;"></div>
        <div class="search-results" id="friend-requests"></div>
        <div class="search-results" id="friends"></div>
        <div class="search-results" id="following"></div>
    </div>
</body>

</html>