{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <link rel="icon" href="{% static '../../static/sd/icons/favicon.png' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">

    function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
        $("#header").load("static/sd/header.html");
    }

    function loadRequests() {
        var follows = {{follows|safe}};
        var friends = {{friends|safe}};
        var results = {{requests|safe}};

        displayResults(results, friends, follows);
    }

    function displayResults(results, friends, follows) {
        console.log(results);
        console.log(friends);
        console.log(follows);
        for (let f of friends) {
            console.log(f['name']);
        }

        var notificationNum = results.length.toString();
        var friendNum = friends.length.toString();
        var followingNum = follows.length.toString();

        if (notificationNum === '1'){
            var notificationString = "  You have 1 friend request";
        } else {
            var notificationString = '  You have ' + notificationNum + ' friend requests';
        }

        if (friendNum === '1'){
            var friendString = "  You have 1 friend";
        } else {
            var friendString = '  You have ' + friendNum + ' friends';
        }

        if (followingNum === '1'){
            var followingString = "  You're following 1 user";
        } else {
            var followingString = "  You're following " + followingNum + ' users';
        }

        
        
        
        var display = document.getElementById("friend-requests");
        var notificationContent = "";
        notificationContent += `
            <br> 
            <span 
                class='arrow-right' 
                id='notification-right-arrow' 
                onclick='displayNotifications("notification-block","notification-right-arrow","notification-down-arrow")' 
                style = 'display: inline-block'> 
            </span>
            <span 
                class='arrow-down' 
                id='notification-down-arrow' 
                onclick='displayNotifications("notification-block","notification-down-arrow","notification-right-arrow")' 
                style = 'display: none'> 
            </span>` + notificationString + `<span id="notification-block" style = "display: none;">`;

        for (let a of results) {
            var aName = a['name'];
            var aHost = a['host'];
            var btn_id = createButtonId(aName);
            notificationContent += `<div>
            <hr class="greyline">
            <span class="searchauthor">${aName}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Follows You </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> ${aHost} </span>
            <button class="addminusbutton" id="${btn_id}" onclick="sendRequest('${aName}')">+</button>
            </div>`;
        }
        notificationContent += '</span>';
        display.innerHTML = notificationContent;


        var displayFriends = document.getElementById("friends");
        var friendsContent = "";
        friendsContent += `
            <br> 
            <span 
                class='arrow-right' 
                id='friend-right-arrow' 
                onclick='displayNotifications("friend-block","friend-right-arrow","friend-down-arrow")' 
                style = 'display: inline-block'> 
            </span>
            <span 
                class='arrow-down' 
                id='friend-down-arrow' 
                onclick='displayNotifications("friend-block","friend-down-arrow","friend-right-arrow")' 
                style = 'display: none'> </span>` + friendString + '<span id="friend-block" style = "display: none;">';
        for (let f of friends) {
            var fName = f['name'];
            var fHost = f['host'];
            var fId = f['uuid'];
            var btn_id = createButtonId(fName);
            friendsContent += `<div>
            <hr class="greyline">
            <span class="searchauthor">${fName}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Friends </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> ${fHost} </span>
            <button class="addminusbutton" id="${btn_id}" onclick="removeFriend('${fId}')">-</button>
            </div>`;
        }
        friendsContent += '</span>';
        displayFriends.innerHTML = friendsContent;


        var displayFollowers = document.getElementById("following");
        var followingContent = "";
        followingContent += `<br> 
            <span class='arrow-right' id='following-right-arrow' onclick='displayNotifications("following-block","following-right-arrow","following-down-arrow")' style = 'display: inline-block'> </span>
            <span class='arrow-down' id='following-down-arrow' onclick='displayNotifications("following-block","following-down-arrow","following-right-arrow")' style = 'display: none'> </span> `
            + followingString + '<span id="following-block" style = "display: none;">';
        for (let f of follows) {
            var fName = f['following'];
            var fHost = f['host'];
            var fId = f['following_uuid'];
            var btn_id = createButtonId(fName);
            followingContent += `<div>
            <hr class="greyline">
            <span class="searchauthor">${fName}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Following </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> ${fHost} </span>
            <button class="addminusbutton" id="${btn_id}" onclick="unfollow('${fId}')">-</button>
            </div>`;
        }
        followingContent += '</span>';
        displayFollowers.innerHTML = followingContent;
    }


    function loadTheThings() {
        loadBar();
        loadRequests();
    }

</script>

<body onload="loadTheThings()">
    <div class="header" id="header">
    </div>

    <div class="row" id="notifications">
        <div class="navbar" id="navbar"></div>
        <div style="margin-top: 7em;"></div>
        <div class="search-results" id="friend-requests"></div>
        <div class="search-results" id="friends"></div>
        <div class="search-results" id="following"></div>
    </div>
</body>

</html>