{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Create Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static 'sd/style.css' %}">
    <link rel="icon" href="{% static '../../static/sd/icons/favicon.png' %}">
</head>

<body>

    <div class="header">
        <a href="{% url 'login' %}">
	  	<img class="logo" src="{% static 'sd\icons\logo.png' %}" alt="Logo" height = "50em">
            <h2>SQUAWK</h2>
        </a>

    </div>

    <div class="signup-form">
        <h3>Create Account</h3>

        <form method="POST">
                {% csrf_token %}

            <div class="row">
                <div class="column" style="float: left;">
                    First Name:
                </div>
                <div class="column" style="float: right;">
                    
                    <input name="first_name" {% if first_name %} placeholder="{{first_name}}" {% else %} placeholder="First Name" {% endif %}><br>
                </div>
            </div>
             <div class="row">
                <div class="column" style="float: left;">
                    Last Name:
                </div>
                <div class="column" style="float: right;">
                    <input name="last_name" {% if last_name %} placeholder="{{last_name}}" {% else %} placeholder="Last Name" {% endif %}><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Username:
                </div>
                <div class="column" style="float: right;">
                    <input name="username" {% if username  %} placeholder="{{username}}" {% else %} placeholder="Username" {% endif %}><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Password:
                </div>
                <div class="column" style="float: right;">
                    <input name="password" type="password" placeholder="Password"><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Email:
                </div>
                <div class="column" style="float: right;">
                    <input name="email" type="email" {% if email %} placeholder="{{email}}" {% else %} placeholder="Email Address" {% endif %}><br>
                </div>
            </div>
            <br>
            <br>
            {% if errors %}
            <div id="error-message">
                {{errors}}
            </div>
            {% endif %}
            <input type="submit" value="SIGN-UP" id="login-button" style="float: right;">

            &nbsp;

        </form>
        <p>Already a user? Log in <a id="signuplink" href="{% url 'login' %}">here</a></p>        
    </div>




</body>

</html>