@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700&display=swap');


/*TODO: make responsive to small window width; */
/* References for column layout and sidebar:;
   https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/

body {
  margin: 0px;
  font-style: normal;
  font-size: 1em;
  background-color: white;
  font-family: "Merriweather Sans";
  word-wrap: break-word;
}

/* orange, large */
h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #ed9a00;
  word-wrap: break-word;
}

/* white, large */
h2 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  word-wrap: break-word;
}

/* blue,large */
h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #9dc7ba;
  word-wrap: break-word;
}

/* black, large */
h4 {
  font-weight: bold;
  font-size: 1.5em;
  word-wrap: break-word;
}

/*black, smaller */
h5 {
  font-weight: bold;
  font-size: 1em;
  word-wrap: break-word;
}

p {
  font-style: normal;
  font-size: 1em;
  word-wrap: break-word;
}

ul {
  font-style: normal;
  font-size: 1em;
}

/* links */
 a {
  text-decoration: none;
}

#signuplink{
  text-decoration: underline;
  color: black;
}



hr {
  display: block;
  border-style: inset;
  background-color: #c8e6dd;
  border-color: transparent;
  height: 0.3em;
  border-bottom-color: lightgrey;
}

.greyline {
  width: 100%;
  display: block;
  border-style: inset;
  background-color: #f0f0f0;
  border-color: transparent;
  height: 0.05em;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  text-align: left;
  height: 1.5em;
  width: 80%;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  padding: 0.2em;
  margin: 0.4em;
  outline-color: grey;
  word-wrap: break-word;
}

input[type=submit]{
  text-align: center;
  width: auto;
  height: 150%;
  float: center;
  width: 20%;
  background: white;
  color: #ed9a00;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  padding: 0.4em;
  margin: 0.3em;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

select {
  margin-left: 0.5em;
  padding: 0.4em;
  border: 1.5px solid #f0f0f0;
  border-radius: 10px;
  background: white;
  color: black;
  height: 100%;
  outline-color: grey;
}

#widebox{
  width: 98%;
}

textarea {
  width: 100%;
  text-align: left;
  height: 10em;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  padding: 0.5em;
  margin: 0.4em;
  width: 98%;
  resize: vertical;
  outline-color: grey;
  word-wrap: break-word;
  font-style: normal;
  font-size: 0.8em;
  font-family: "Merriweather Sans";
}

input[type=checkbox]{
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
}

/* text boxes on create post and edit post*/
#id_title, #id_description,  #id_link_to_image, #id_categories, #id_visibleTo{
 box-sizing: border-box;
 height: 2.5em;
 margin: 0.5em;
 word-wrap: break-word;
}

#id_content{
 box-sizing: border-box;
 height: 6em;
 padding: 0.5em;
 word-wrap: break-word;
}

#id_image{
  height: 3em;
  border:none;
  word-wrap: break-word;
  }

#id_contentType, #id_visibility, #id_unlisted {
  font-style: normal;
  font-size: 0.8em;
  font-family: "Merriweather Sans";
  padding: 0.5em;
  margin: 0.5em;
  word-wrap: break-word;
}



/*top navigation */

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  margin:0px auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 0.3em;
  padding-bottom: auto;
  background: #c8e6dd;
  margin-bottom:7em;
  color: white;
  font-size: 1em;
  border-bottom: 2.5px solid #f0f0f0;
  z-index: 2;
}

.logo {
  vertical-align: middle;
  float: left;
  padding-right: 1em;
  padding-top: 0.5em;
}

#maintitle {
  width: 5em;
}

img.icons {
  vertical-align: middle;
  float: right;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  padding-right: 1.5em;
  padding-left: 1em;
}

.icons#lasticon {
  padding-right: 6.5em;
}

.header input[type=text] {
  width: 7em;
  color: white;
  padding: 6px;
  border-radius: 10px;
  outline:none;
  border: 2.5px solid #f0f0f0;
  margin-right: 16px;
  font-size: 1em;
}


/* main feed */

.helptext {
  font-size: small;
  color: grey;

}

/* general feed placment */
.feed {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  margin-bottom: 6em;
}

.feed#nosidebar {
  margin-left: 6em;
}

/* each feed item style */
.feeditem {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  padding: 2em 3em 2em 3em;
  border: 2.5px solid #f0f0f0;
  word-wrap: break-word;
}


/* feed item text styling */

#author {
  font-weight: bold;
  font-size: 1em;
}

#date {
  color: grey; 
  font-style: italic;
  font-size: 0.7em;
}

#title {
  font-size: 1.5em;
  color: black; 
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

#postBody {
  color: black;
  text-align: center;

}

.markdown-image{
  max-width: 10em;
  max-height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.feedimage-link{
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}


.feedimage {
  max-width: 10em;
  max-height: 10em;
  display: block;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.navigate-feed{
  background-color: white;
  margin-top: 2em;
  margin-bottom: 2em;
}

#imagelink{
  width:10em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* comments */

.commentSection{
  margin: 1em 2em 1em 2em;
}

/* lists number of comments in feed item */
#commentsifyesButton {
  color: #ed9a00; 
  font-style: italic;
  font-size: 0.9em;
}

#commentsifyesButton:hover {
  cursor: pointer;
}


.commentitem {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 1em;
  padding: 0.5em 0em 0.5em 1em ;
  border: 1.5px solid #f0f0f0;
 }

#commentauthor {
  font-weight: bold;
  font-size: 0.8em;
}

#commentdate {
  color: grey; 
  font-style: italic;
  font-size: 0.6em;
}

#commentbody {
  font-size: 0.8em;
}

#submit-blue-button{
  font-size: 1em;
  width: auto;
  color: #9dc7ba;
  margin: 0em;
}

#submit-blue-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#submit-button-section{
  float:right;
}


#addcommentfield {
  height: 3em;
  margin: 0em 0em 1em 0em;
  width: 100%;
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
}



/* side bar */

.yourfeed {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.plusicon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 0.7em;
  padding-right: 1em;
  padding-left: 1em;
}

.compassicon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.filtericon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1.4em;
  padding-right: 1em;
  padding-left: 1em;
}

/* sidebar menu for new post */
.sidebarpost {
  margin-left: 4em;
  margin-top: 0em;
  height: 5em; /* Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}

/* sidebar menu for filtering */
.sidebarfeed {
  margin-left: 4em;
  margin-top: 8em;
  /* height: 12em; Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  border-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}

/* sidebar menu for new post */
.sidebarfilter {
  margin-left: 4em;
  margin-top: 23em;
  height: 12em; /* Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}


/* login page and create new account page*/

.login-form, .signup-form {
  margin-top: 10em;
  margin-right: auto;
  margin-left: auto;
  width: 21em;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2.5px solid #c8e6dd9d;
  padding: 2em 3.5em 2em 3.5em;
  word-wrap: break-word;
}

.http-response-code {
  margin-top: 7em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7em;
  width: 40em;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2.5px solid #c8e6dd9d;
  padding: 2em 3.5em 2em 3.5em;
  word-wrap: break-word;
}

.edit-form {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  border-radius: 10px;
  background-color: white;
  top: 1; /* start after header */
  bottom: 1;
  padding: 2em 3em 3em 3em ;
  border: 2.5px solid #f0f0f0;
  word-wrap: break-word;
}

.http-code {
  margin: auto; 
  width: 50%;
}

.signup-form {
  clear: both;
}

.signup-form>p {
  line-height: 1.5em;
}

.signup-form>form>input {
  margin-top: 0.5em;
}

form>.row {
  clear: both;
}

#save-button {
  width: auto;
  font-size: medium;
  padding: 0.3em;
  margin: 0.2em;
}


#cancel-button{
  width: auto;
  float: right;
  color: #ed9a00;
  padding: 0.3em;
  border-radius: 10px;
  background-color: white;
  margin: 0.2em;
  width: auto;
  font-size: medium;
  border: 1.5px solid #f0f0f0;
}

#login-button {
  width: auto;
  font-size: medium;
  margin-top: 1em;
  margin-bottom: 2em;
}

#signup-button {
  width: auto;
  font-size: medium;
  margin-top: 1em;
  margin-bottom: 2em;
}

#login-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/*new post page*/ 
.acc-info {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  clear: both;
  /* width: 20em; */
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  top: 1; /* start after header */
  padding: 0.8em 3em 2em 3em;
  border: 2.5px solid #f0f0f0;
  word-wrap: break-word;
  clear: both;
}

.acc-info>p {
  text-align: justify;
}

#error-message{
  color:white;
  background-color: #960000;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: 0.5em;
}

.edit-button {
  float: right;
  background-color: #c8e6dd;
  border: none;
  padding: 1em;
  font-size: 1em;
  margin: 10pt;
  margin-right: 0pt;
  border-radius: 10px;
}

.edit-button:hover {
  background-color: #c8e6dd9d;
  cursor: pointer;
}

/* each feed item style */
.newpost {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  border-radius: 10px;
  background-color: white;
  top: 1; /* start after header */
  padding: 2em 3em 2em 3em ;
  border: 2.5px solid #f0f0f0;
  word-wrap: break-word;
}

.newusers{
  margin-top: 7em;
  margin-left: 10em; /* Same as the width of the sidebar */
  margin-right: 10em;
  margin-bottom: 7em;
  border-radius: 10px;
  background-color: white;
  top: 1; /* start after header */
  padding: 2em 3em 2em 3em ;
  border: 2.5px solid #f0f0f0;
  word-wrap: break-word;
}

#orange-button {
  font-size: 1em;
  width: auto;
  float: right;
  color: #ed9a00;
  padding: 0.3em;
  border-radius: 10px;
  background-color: white;
  margin: 0.2em;
  border: 1.5px solid;
  border-color: #f0f0f0;
}

#orange-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

#blue-button {
  font-size: 1em;
  width: auto;
  float: right;
  color: #9dc7ba;
  padding: 0.3em;
  border-radius: 10px;
  background-color: white;
  margin: 0.2em;
  border: 1.5px solid;
  border-color: #f0f0f0;
}

#blue-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#orangebackground-button {
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  width: auto;
  float: right;
  background-color: #ed9a00;
}

#orangebackground-button:hover {
  background-color: #ed9a00af;
  cursor: pointer;
}

#bluebackground-button {
  color: white;
  font-size: 1.2em;
  width: auto;
  float: right;
  background-color: #9dc7ba;
}

#bluebackground-button:hover {
  background-color: #9dc7baa2;
  cursor: pointer;
}

.dropdown-button {
  background-color: #9dc7ba;
  color: white;
  padding: 0.3em;
  padding-right: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-button:hover, .dropdown-button:focus {
  background-color: #9dc7baa2;
}

.dropdown {
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 0.3em;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 0.2em;
  text-decoration: none;
  display: block;
  font-size: 10pt;
  border-radius: 3px;
  padding: 0.3em;
  padding-right: 0.7em;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show-dropdown {
  display: block;
}


/* Search Page */

.search-bar, .search-results {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  clear: both;
  /* width: 20em; */
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  top: 1; /* start after header */
  padding: 0.8em 3em 2em 3em;
  border: 2.5px solid #f0f0f0;
  clear: both;
}

#search-val{
  margin-left:0em;
  margin-right:0em;
  width:100%
}

.search-results {
  margin-top: 2em;
}

.addbutton{
  outline:none;
  border-radius: 50%;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 1em;
  background-color: white;
  width: 1.6em;
  height: 1.6em;
  border: 1.5px solid black;
  color: black;
  float: right;
}

.addbutton:hover {
  color: #9dc7ba;
  cursor: pointer;
  border: 1.5px solid #9dc7ba;
}

.minusbutton{
  outline:none;
  border-radius: 50%;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 1em;
  background-color: white;
  width: 1.6em;
  height: 1.6em;
  border: 1.5px solid black;
  color: black;
  float: right;
}

.minusbutton:hover {
  color: #ed9a00;
  cursor: pointer;
  border: 1.5px solid #ed9a00;
}


.addminusbutton{
  outline:none;
  border-radius: 50%;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 1em;
  background-color: white;
  width: 1.6em;
  height: 1.6em;
  border: 1.5px solid black;
  color: black;
  float: right;
}

.addminusbutton:hover {
  color: #ed9a00;
  cursor: pointer;
}

/** https://www.w3schools.com/howto/howto_css_circles.asp */
.orangedot {
  height: 0.3em;
  width: 0.3em;
  background-color: #ed9a00;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 0.1em 0.2em 0.1em 0.2em;
}

.bluedot {
  height: 0.3em;
  width: 0.3em;
  background-color: #9dc7ba;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 0.1em 0.2em 0.1em 0.2em;
}

.searchauthor {
  font-weight: bold;
  font-size: 1em;
}

.searchrelation {
  font-style: italic;
  font-size: 0.8em;
  color: grey;
}

/* referenced https://stackoverflow.com/questions/15950007/centering-floated-images-in-div 
author https://stackoverflow.com/users/2157321/dhaval-marthak*/
#centered {
  text-align:center;
  display:inline-block;
  width:100%
}

.noresults-img {
float: left;
font-size: small;
max-height: 300em;
width: 100%;
}

img{
  box-sizing: border-box;
  max-width: 100%
}


/* Notifications Page */
.notifications-list{
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
  clear: both;
  /* width: 20em; */
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  top: 1; /* start after header */
  padding: 0.8em 3em 2em 3em;
  border: 2.5px solid #f0f0f0;
  clear: both;
  word-wrap: break-word;
}

/* https://davidwalsh.name/css-triangles */
.arrow-right {
  width: 0; 
  height: 0; 
  border-bottom: 7px solid transparent;  /* left arrow slant */
  border-top: 7px solid transparent; /* right arrow slant */
  border-left: 7px solid #ed9a00; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
  text-align: center;
}


/* create an arrow that points down */
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ed9a00;
  font-size: 0;
  line-height: 0;
}

.arrow-right:hover{
  cursor: pointer;
}

.arrow-down:hover{
  cursor: pointer;
}